    // .video{
    //   overflow:hidden;
    //   white-space:nowrap;
    //   height: 60px;
    //   img {
    //     width: 90px;
    //     float: left;
    //   }
    //   p {
    //     position: absolute;
    //     -webkit-margin-before: 0;
    //     left: 110px;
    //     font-size: 1.1em;
    //   }
    // }

    .valign {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.video{
  overflow:hidden;
  white-space:nowrap;
  height: 60px;
  img {
    @extend .valign;
    width: 90px;
    float: left;
  }
  p {
    @extend .valign;
    -webkit-margin-before: 0;
    left: 110px;
    font-size: 1.1em;
  }
}

